STRINGTABLE DISCARDABLE 
LANGUAGE LCID_GERMANY, 0 
BEGIN
  IDOK            " &OK "
  IDCancel        " Abbre&chen "
  IDDelete        "Löschen"

  IDmnuFile       "Datei"
  IDmnuFileNew    "Neu"
  IDmnuFileOpen   "Öffnen"
  IDmnuFileSave   "Speichern"
  IDmnuFileSaveAs "Speichern unter..."
  IDmnuFileExit   "Be&enden" 

  IDmnuEdit       "B&earbeiten"
  IDmnuEditUndo   "Rückgängig"
  IDmnuEditRedo   "Wiederherstellen"
  IDmnuEditCut    "Ausschneiden"
  IDmnuEditCopy   "Kopieren"
  IDmnuEditPaste  "Einfügen"

  IDmnuView       "&Ansicht"

END
