STRINGTABLE DISCARDABLE 
LANGUAGE LCID_ENGLISHUS, 0 
BEGIN

  IDOK            " &OK "
  IDCancel        " &Cancel "
  IDDelete        "Delete"

  IDmnuFile       "&File"
  IDmnuFileNew    "&New"
  IDmnuFileOpen   "&Open"
  IDmnuFileSave   "&Save"
  IDmnuFileSaveAs "Save &As..."
  IDmnuFileExit   "E&xit" 

  IDmnuEdit       "&Edit"
  IDmnuEditUndo   "&Undo"
  IDmnuEditRedo   "&Redo"
  IDmnuEditCut    "Cut"
  IDmnuEditCopy   "Copy"
  IDmnuEditPaste  "Paste"

  IDmnuView       "&View"

END
