STRINGTABLE DISCARDABLE 
LANGUAGE LCID_GREECE, 0
BEGIN

  IDOK            " &OK "
  IDCancel        " Odu&stani "
  IDDelete        "O&èisti"

  IDmnuFile       "&Datoteka"
  IDmnuFileNew    "&Nova"
  IDmnuFileOpen   "&Otvori..."
  IDmnuFileSave   "&Spremi"
  IDmnuFileSaveAs "Spremi &kao..."
  IDmnuFileExit   "Iz&laz"

  IDmnuEdit       "&Ureðivanje"
//IDmnuEditUndo
//IDmnuEditRedo
//IDmnuEditCut
//IDmnuEditCopy
//IDmnuEditPaste

END
